<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Mapper.CartMapper" >
  <resultMap id="BaseResultMap" type="po.Cart" >
    <id column="cart_id" property="cart_id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="cart_pro_count" property="cartProCount" jdbcType="INTEGER" />
    <result column="isdelete" property="isdelete" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_modified_time" property="lastModifiedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    cart_id, user_id, cart_pro_count, isdelete, create_time, last_modified_time
  </sql>
  <resultMap type="po.Cart" id="CartAndProductResultMap" extends="BaseResultMap">
  			<collection property="listOrderProduct" ofType="po.MapOrderProduct">
  					<id column="map_order_product_id" property="map_order_product_id"></id>
  					<result column="pro_id" property="ordId"></result>
  					<result column="url" property="url"></result>
  			</collection>
  </resultMap> 
  
  <!-- <resultMap type="po.Cart" id="CartAndProductresultMap" extends="BaseResultMap">
  	
  	<collection property="listOrderProduct" ofType="po.MapProductCart">	
  	
  				<id column="map_product_cart_id" property="map_product_cart_id"></id>
	  			<result column="pro_id" property="proId"></result>
			  	<result column="cart_id" property="cartId"></result>
			  	<result column="pro_size" property="proSize"></result>
			  	<result column="pro_color" property="proColor"></result>
			  	<result column="pro_count" property="proCount"></result>
		  		<result column="isdelete" property="isdelete"></result>
		  	<assonciation property="product" javaType="po.Product">
			  	<id column="product_id" property="product_id"></id>
	  			<result column="pro_name" property="proName"></result>
			  	<result column="pro_head" property="proHead"></result>
			  	<result column="pro_price" property="proPrice"></result>
			  	<result column="pro_image" property="proImage"></result>
		  	</assonciation> 	
  	</collection>
  	
  </resultMap> -->

  
  <!-- <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="po.CartKey" >
    select 
    <include refid="Base_Column_List" />
    from cart
    where id = #{id,jdbcType=INTEGER}
      and user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="po.CartKey" >
    delete from cart
    where id = #{id,jdbcType=INTEGER}
      and user_id = #{userId,jdbcType=INTEGER}
  </delete> -->
  <!-- <insert id="insert" parameterType="po.Cart" >
    insert into cart (id, user_id, cart_pro_count, 
      isdelete, create_time, last_modified_time
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{cartProCount,jdbcType=INTEGER}, 
      #{isdelete,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{lastModifiedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="po.Cart" >
    insert into cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="cartProCount != null" >
        cart_pro_count,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastModifiedTime != null" >
        last_modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="cartProCount != null" >
        #{cartProCount,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedTime != null" >
        #{lastModifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="po.Cart" >
    update cart
    <set >
      <if test="cartProCount != null" >
        cart_pro_count = #{cartProCount,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedTime != null" >
        last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="po.Cart" >
    update cart
    set cart_pro_count = #{cartProCount,jdbcType=INTEGER},
      isdelete = #{isdelete,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
      and user_id = #{userId,jdbcType=INTEGER}
  </update> -->
  
  
</mapper>