<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Mapper.Map_Order_ProductMapper" >
  <resultMap id="BaseResultMap" type="po.Map_Order_Product" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="ord_id" property="ordId" jdbcType="INTEGER" />
    <id column="pro_id" property="proId" jdbcType="INTEGER" />
    <id column="pro_classify_id" property="proClassifyId" jdbcType="INTEGER" />
    <result column="pro_name" property="proName" jdbcType="VARCHAR" />
    <result column="pro_price" property="proPrice" jdbcType="INTEGER" />
    <result column="pro_count" property="proCount" jdbcType="INTEGER" />
    <result column="isdelete" property="isdelete" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_modified_time" property="lastModifiedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ord_id, pro_id, pro_classify_id, pro_name, pro_price, pro_count, isdelete, create_time, 
    last_modified_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="po.Map_Order_ProductKey" >
    select 
    <include refid="Base_Column_List" />
    from map_order_product
    where id = #{id,jdbcType=INTEGER}
      and ord_id = #{ordId,jdbcType=INTEGER}
      and pro_id = #{proId,jdbcType=INTEGER}
      and pro_classify_id = #{proClassifyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="po.Map_Order_ProductKey" >
    delete from map_order_product
    where id = #{id,jdbcType=INTEGER}
      and ord_id = #{ordId,jdbcType=INTEGER}
      and pro_id = #{proId,jdbcType=INTEGER}
      and pro_classify_id = #{proClassifyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="po.Map_Order_Product" >
    insert into map_order_product (id, ord_id, pro_id, 
      pro_classify_id, pro_name, pro_price, 
      pro_count, isdelete, create_time, 
      last_modified_time)
    values (#{id,jdbcType=INTEGER}, #{ordId,jdbcType=INTEGER}, #{proId,jdbcType=INTEGER}, 
      #{proClassifyId,jdbcType=INTEGER}, #{proName,jdbcType=VARCHAR}, #{proPrice,jdbcType=INTEGER}, 
      #{proCount,jdbcType=INTEGER}, #{isdelete,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lastModifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="po.Map_Order_Product" >
    insert into map_order_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ordId != null" >
        ord_id,
      </if>
      <if test="proId != null" >
        pro_id,
      </if>
      <if test="proClassifyId != null" >
        pro_classify_id,
      </if>
      <if test="proName != null" >
        pro_name,
      </if>
      <if test="proPrice != null" >
        pro_price,
      </if>
      <if test="proCount != null" >
        pro_count,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastModifiedTime != null" >
        last_modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ordId != null" >
        #{ordId,jdbcType=INTEGER},
      </if>
      <if test="proId != null" >
        #{proId,jdbcType=INTEGER},
      </if>
      <if test="proClassifyId != null" >
        #{proClassifyId,jdbcType=INTEGER},
      </if>
      <if test="proName != null" >
        #{proName,jdbcType=VARCHAR},
      </if>
      <if test="proPrice != null" >
        #{proPrice,jdbcType=INTEGER},
      </if>
      <if test="proCount != null" >
        #{proCount,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedTime != null" >
        #{lastModifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="po.Map_Order_Product" >
    update map_order_product
    <set >
      <if test="proName != null" >
        pro_name = #{proName,jdbcType=VARCHAR},
      </if>
      <if test="proPrice != null" >
        pro_price = #{proPrice,jdbcType=INTEGER},
      </if>
      <if test="proCount != null" >
        pro_count = #{proCount,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedTime != null" >
        last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and ord_id = #{ordId,jdbcType=INTEGER}
      and pro_id = #{proId,jdbcType=INTEGER}
      and pro_classify_id = #{proClassifyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="po.Map_Order_Product" >
    update map_order_product
    set pro_name = #{proName,jdbcType=VARCHAR},
      pro_price = #{proPrice,jdbcType=INTEGER},
      pro_count = #{proCount,jdbcType=INTEGER},
      isdelete = #{isdelete,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
      and ord_id = #{ordId,jdbcType=INTEGER}
      and pro_id = #{proId,jdbcType=INTEGER}
      and pro_classify_id = #{proClassifyId,jdbcType=INTEGER}
  </update>
</mapper>