<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Mapper.StudentMapper" >
  <resultMap id="studentResultMap" type="po.Student" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="age" property="age" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="pagination">
     <if test="offset != null and rowCount != null">
         <![CDATA[
             LIMIT #{offset},#{rowCount}
         ]]>
     </if>
 </sql>
  <sql id="Base_Column_List" >
    id, age,phone,name
  </sql>
  <select id="selectStudentByParams" resultMap="studentResultMap" parameterType="java.util.HashMap" >
    select 
    <include refid="Base_Column_List" />
	    from student
	    where 1=1
	  <if test="id != null">
        and id = #{id}
      </if>
      <if test="age != null">
        and age = #{age}
      </if>
      <if test="name != null">
        AND name LIKE '%${name}%'
      </if>
      <if test="phone != null">
        and phone = #{phone}
      </if>
      <if test="sidx != null">
        order by #{sidx} #{sord}
      </if>
    <include refid="pagination" />
  </select> 
  <select id="selctStdentCount" resultType="java.lang.Integer">
    select 
        count(1)
        from student
        where 1=1
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="age != null">
        and age = #{age}
      </if>
      <if test="name != null">
        AND name LIKE '%${name}%'
      </if>
      <if test="phone != null">
        and phone = #{phone}
      </if>
  </select> 
  
  
</mapper>